{
    "tabWidth": 4,
    "printWidth": 80,
    "semi": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "singleQuote": true,
    "overrides": [
        {
            "files": [".eslintrc", "*.json", "*.yml", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
